

#main {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin-top: 20px;
}

#gain {
    background-color: #f7c305;
    border-color: #c79d04;
    border-radius: 15px;
    color: black;
    border-width: 2px;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#gain:hover {
    background-color: #c79d04;
}

#counter {
    font-family: 'Martian Mono', monospace;
    font-size: 70px;
}

#upgradelist {
    list-style-type:none;
}

#upgrades {
    background-color: #8bf57f;
    width: 25%;
    height: 80vh;
    border-radius: 30px;
    text-align:center;
    padding-top: 5px;
    margin-top: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ub {
    padding: 4px;
    margin-bottom: 10px;
    border-color: #169405;
    border-radius: 20px;
    width: 80%;
    height: 10%;
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
    background-color: 	#4d9405;
    color: white;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    margin-top: 8px;
}

.ub:hover {
    background-color: white;
    color: #169405;
}

.scoobies {
    height: 9%;
    width: 19%;
    margin: 20px;
}

.gen {
    border-radius: 10px;
    border-color: #ff1a1a;
    background-color: #ff9999;
    height: 20%;
    width: 20%;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.gen:hover {
    background-color: red;
}

#scobular {  
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 20px;
    font-size: 130%;
    color: gray;
    font-family: 'Roboto', sans-serif;
}

#clickcounter {
    display: block; /* Ensure it's displayed as a block element */
    margin-top: 20px; /* Adjust the margin to control the vertical space */
    text-align: center;
    font-size: 18px;
    color: gray;
    font-family: 'Roboto', sans-serif;
}

#footnote {
    position: fixed; /* Fixed positioning to keep it at the bottom */
    bottom: 0; /* Place it at the bottom of the viewport */
    text-align: center; /* Center the text horizontally */
    background-color: #d4d0d0; /* Background color for the footnote */
    width: 97%; /* Make it full-width */
    padding: 10px; /* Add padding for better readability */
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

